<!-- TODO agregar la opcion de poder modificar el titulo dependiendo del nombre o del tipo de operador que se tenga-->
<h1 mat-dialog-title>Setting of </h1>
<div mat-dialog-content>
  <div class="row">
    <div class="input-field col s12">
      <label for="name-operator" class="active">Name Operator :</label>
      <input id="name-operator" type="text" matInput [(ngModel)]="data.name">
    </div>
  </div>
  <div class="row" [hidden]="data.operator.getConfParameters().typeOperator.length === 0">
    <div class="input-field col s12 full-container">
      <mat-form-field>
        <mat-label>Type of Operator</mat-label>
        <mat-select (selectionChange)="updateOperator($event)" [(value)]="selected">
          <mat-option *ngFor="let item of data.operator.getConfParameters().typeOperator" [value]="withoutSpace(item)">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row" [hidden]="! data.operator.getConfParameters().function1">
    <div class="input-field col s12">
      <label for="textarea1" class="active">Fuction 1</label>
      <textarea id="textarea1" class="materialize-textarea"  matInput [(ngModel)]="data.function1"></textarea>

    </div>
  </div>
  <div class="row" [hidden]="! data.operator.getConfParameters().function2">
    <div class="input-field col s12">
      <label for="textarea2" class="active">Fuction 2</label>
      <textarea id="textarea2" class="materialize-textarea"  matInput [(ngModel)]="data.function2"></textarea>
    </div>
  </div>
  <div class="row" [hidden]="! data.operator.getConfParameters().outputClass">
    <div class="input-field col s12 full-container">
      <mat-form-field>
        <mat-label>Class Output</mat-label>
        <mat-select (selectionChange)="updateOutPutClass($event)" [(value)]="classOutputSelected">
          <mat-option value="java.lang.Boolean">Boolean</mat-option>
          <mat-option value="java.lang.Character">Char</mat-option>
          <mat-option value="java.util.Collection">Collection</mat-option>
          <mat-option value="java.lang.Double">Double</mat-option>
          <mat-option value="java.lang.Float">Float</mat-option>
          <mat-option value="java.lang.Integer">Integer</mat-option>
          <mat-option value="java.lang.Iterable">Iterable</mat-option>
          <mat-option value="java.util.List">List</mat-option>
          <mat-option value="java.lang.Long">Long</mat-option>
          <mat-option value="org.qcri.rheem.basic.data.Record">Record</mat-option>
          <mat-option value="java.lang.String">String</mat-option>
          <mat-option value="org.qcri.rheem.basic.data.Tuple2">Tuple2</mat-option>
          <mat-option value="org.qcri.rheem.rest.Tuple">Tuple2 String Integer</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row" [hidden]="! data.operator.getConfParameters().textInput">
    <div class="input-field col s12">
      <label for="input2" class="active">Text Input:</label>
      <input id="input2" type="text" matInput [(ngModel)]="data.textInput"/>
    </div>
  </div>
</div>
<!--<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>-->
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onNoClick()">Close</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
