<div class="cl-br-node-l1-s5">
  <input type="checkbox" href="#" class="cl-br-node-l1-s5-open" name="cl-br-node-l1-s5-open" id="cl-br-node-l1-s5-open"/>
  <label class="cl-br-node-l1-s5-open-button" for="cl-br-node-l1-s5-open">
    <span class="cl-br-node-hamburger-l1-s5 cl-br-node-hamburger-l1-s5-1"></span>
    <span class="cl-br-node-hamburger-l1-s5 cl-br-node-hamburger-l1-s5-2"></span>
    <span class="cl-br-node-hamburger-l1-s5 cl-br-node-hamburger-l1-s5-3"></span>
  </label>
  <a href="#" class="cl-br-node-l1-s5-item">
      <div class="cl-br-node-l2-s5-e1">
          <input type="checkbox" href="#" class="cl-br-node-l2-s5-e1-open" name="cl-br-node-l2-s5-e1-open" id="cl-br-node-l2-s5-e1-open"/>
          <label class="cl-br-node-l2-s5-e1-open-button" for="cl-br-node-l2-s5-e1-open">
            <fa-icon [icon]="['fas', 'coins']" size="2x"></fa-icon>
          </label>
          <a href="#" class="cl-br-node-l2-s5-e1-item"> <fa-icon [icon]="['fas', 'coins']" size="2x"></fa-icon></a>
          <a href="#" class="cl-br-node-l2-s5-e1-item"> <fa-icon [icon]="['fas', 'coins']" size="2x"></fa-icon> </a>
          <a href="#" class="cl-br-node-l2-s5-e1-item"> <fa-icon [icon]="['fas', 'coins']" size="2x"></fa-icon> </a>
          <a href="#" class="cl-br-node-l2-s5-e1-item"> <fa-icon [icon]="['fas', 'coins']" size="2x"></fa-icon> </a>
      </div>
  </a>
  <a href="#" class="cl-br-node-l1-s5-item">
    <div class="cl-br-node-l2-s5-e2">
      <input type="checkbox" href="#" class="cl-br-node-l2-s5-e2-open" name="cl-br-node-l2-s5-e2-open" id="cl-br-node-l2-s5-e2-open"/>
      <label class="cl-br-node-l2-s5-e2-open-button" for="cl-br-node-l2-s5-e2-open">
        <fa-icon [icon]="['fas', 'brain']" size="2x"></fa-icon>
      </label>
      <a href="#" class="cl-br-node-l2-s5-e2-item"> <fa-icon [icon]="['fas', 'coins']" size="2x"></fa-icon></a>
      <a href="#" class="cl-br-node-l2-s5-e2-item"> <fa-icon [icon]="['fas', 'coins']" size="2x"></fa-icon> </a>
      <a href="#" class="cl-br-node-l2-s5-e2-item"> <fa-icon [icon]="['fas', 'coins']" size="2x"></fa-icon> </a>
      <a href="#" class="cl-br-node-l2-s5-e2-item"> <fa-icon [icon]="['fas', 'coins']" size="2x"></fa-icon> </a>
    </div>
  </a>
  <a href="#" class="cl-br-node-l1-s5-item">
    <div class="cl-br-node-l2-s5-e3">
      <input type="checkbox" href="#" class="cl-br-node-l2-s5-e3-open" name="cl-br-node-l2-s5-e3-open" id="cl-br-node-l2-s5-e3-open"/>
      <label class="cl-br-node-l2-s5-e3-open-button" for="cl-br-node-l2-s5-e3-open">
        <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon>
      </label>
      <a href="#" class="cl-br-node-l2-s5-e3-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon></a>
      <a href="#" class="cl-br-node-l2-s5-e3-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon> </a>
      <a href="#" class="cl-br-node-l2-s5-e3-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon> </a>
      <a href="#" class="cl-br-node-l2-s5-e3-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon> </a>
    </div>
  </a>
  <a href="#" class="cl-br-node-l1-s5-item">
    <div class="cl-br-node-l2-s5-e4">
      <input type="checkbox" href="#" class="cl-br-node-l2-s5-e4-open" name="cl-br-node-l2-s5-e4-open" id="cl-br-node-l2-s5-e4-open"/>
      <label class="cl-br-node-l2-s5-e4-open-button" for="cl-br-node-l2-s5-e4-open">
        <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon>
      </label>
      <a href="#" class="cl-br-node-l2-s5-e4-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon></a>
      <a href="#" class="cl-br-node-l2-s5-e4-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon> </a>
      <a href="#" class="cl-br-node-l2-s5-e4-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon> </a>
      <a href="#" class="cl-br-node-l2-s5-e4-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon> </a>
    </div>
  </a>
  <a href="#" class="cl-br-node-l1-s5-item">
    <div class="cl-br-node-l2-s5-e5">
      <input type="checkbox" href="#" class="cl-br-node-l2-s5-e5-open" name="cl-br-node-l2-s5-e5-open" id="cl-br-node-l2-s5-e5-open"/>
      <label class="cl-br-node-l2-s5-e5-open-button" for="cl-br-node-l2-s5-e5-open">
        <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon>
      </label>
      <a href="#" class="cl-br-node-l2-s5-e5-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon></a>
      <a href="#" class="cl-br-node-l2-s5-e5-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon> </a>
      <a href="#" class="cl-br-node-l2-s5-e5-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon> </a>
      <a href="#" class="cl-br-node-l2-s5-e5-item"> <fa-icon [icon]="['fas', 'hammer']" size="2x"></fa-icon> </a>
    </div>
  </a>
</div>
