<div id="primero-{{index}}" class="cl-br-node-l1-s5 lineable" ngDraggable  (endOffset)="onStop($event)" [position]="position">
  <input type="checkbox" href="#" class="cl-br-node-l1-s5-open" [checked]="close" name="cl-br-node-l1-s5-open" id="cl-br-node-l1-s5-open-{{index}}"/>
  <label class="cl-br-node-l1-s5-open-button" (click)=checkMe() >
    <span class="cl-br-node-hamburger-l1-s5 cl-br-node-hamburger-l1-s5-1"></span>
    <div class="cl-br-node-init-hamburger-2">
        <fa-icon [icon]="['fas', icon]" size="3x" transform="down-5"></fa-icon>
    </div>
    <span class="cl-br-node-hamburger-l1-s5 cl-br-node-hamburger-l1-s5-3"></span>
  </label>
  <a *ngFor="let opt of nextOpt.getOptions()" href="#" class="cl-br-node-l1-s5-item" matTooltip="{{opt.getName()}}">
      <div class="cl-br-node-l2-s5-e{{opt.getIndex()}}">
          <input type="checkbox" href="#" class="cl-br-node-l2-s5-e{{opt.getIndex()}}-open" [checked]="updateDobleClose(opt.getIndex())" name="cl-br-node-l2-s5-e{{opt.getIndex()}}-open" id="cl-br-node-l2-s5-e{{opt.getIndex()}}-open-{{index}}"/>
          <label class="cl-br-node-l2-s5-e{{opt.getIndex()}}-open-button" (click)=checkMeDetail(opt.getIndex()) >
            <fa-icon [icon]="['fas', opt.getIcon() ]" size="2x"></fa-icon>
          </label>
          <a *ngFor="let subOpt of opt.getSubOptions()" href="#" class="cl-br-node-l2-s5-e{{opt.getIndex()}}-item" matTooltip="{{subOpt.getName()}}" (click)="doAction(subOpt.getAction(), subOpt.getActionOption())">
            <fa-icon [icon]="['fas',  subOpt.getIcon() ]" size="2x"></fa-icon>
          </a>
      </div>
  </a>
</div>
