<div class="cl-br-action-btn">
  <div class="cl-br-action-btn-save">
    <div class="cl-br-action-button-save">
      <input type="checkbox" href="#" class="cl-br-action-button-save-open" name="cl-br-action-button-save-open" id="cl-br-action-button-save-open"/>
      <label class="cl-br-action-button-save-open-button" for="cl-br-action-button-save-open">
        <span class="cl-br-action-button-save-hamburger cl-br-action-button-save-hamburger-1"></span>
        <span class="cl-br-action-button-save-hamburger cl-br-action-button-save-hamburger-2"></span>
        <span class="cl-br-action-button-save-hamburger cl-br-action-button-save-hamburger-3"></span>
      </label>

      <a href="#" class="cl-br-action-button-save-item"> <i class="fa fa-bar-chart"></i> </a>
      <a href="#" class="cl-br-action-button-save-item"> <i class="fa fa-plus"></i> </a>
      <a href="#" class="cl-br-action-button-save-item"> <i class="fa fa-heart"></i> </a>
      <a href="#" class="cl-br-action-button-save-item"> <i class="fa fa-envelope"></i> </a>
    </div>
  </div>
  <a class="cl-br-action-btn-play">
    <fa-icon [icon]="['fas', 'play']" size="3x"></fa-icon>
  </a>
</div>



