<div class="cl-br-action-btn">
  <div class="cl-br-action-btn-save">
    <div class="cl-br-action-button-save">
      <input type="checkbox" href="#" class="cl-br-action-button-save-open" name="cl-br-action-button-save-open" id="cl-br-action-button-save-open"/>
      <label class="cl-br-action-button-save-open-button" for="cl-br-action-button-save-open">
        <span class="cl-br-action-button-save-hamburger cl-br-action-button-save-hamburger-1"></span>
        <span class="cl-br-action-button-save-hamburger cl-br-action-button-save-hamburger-2"></span>
        <span class="cl-br-action-button-save-hamburger cl-br-action-button-save-hamburger-3"></span>
      </label>

      <a href="#" class="cl-br-action-button-save-item" (click)="preSave()">
        <fa-icon [icon]="['fas', 'save']" size="2x"></fa-icon>
      </a>
      <a href="#" class="cl-br-action-button-save-item" (click)="preOpen()">
        <fa-icon [icon]="['fas', 'folder-open']" size="2x"></fa-icon>
      </a>
      <a href="#" class="cl-br-action-button-save-item" style="  background: #007c27;" (click)="preExecute()" >
        <fa-icon [icon]="['fas', 'play']" size="2x"></fa-icon>
      </a>
      <a href="#" class="cl-br-action-button-save-item" style="padding-left: 5px">
        <fa-icon [icon]="['fas', 'cogs']" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</div>



