<div class="row cl-br-jobs-area">
  <div class="col s5 cl-br-jobs-area-running"  >
    <div class="cl-br-jobs-area-content" [ngClass]="showCardsLeft ? 'cl-br-card-show' : ''">
      <div class="cl-br-card-borde">
        <div class="cl-br-card-content">
          <div class="row h-100">
            <div class="col s8 h-100" style="background-color: #3f51b5">
              Name Job # ID
            </div>
            <div class="col s4 h-100" style="background-color: #27ae60">
              <a href="#" (click)="pinningCard('1')">
                pin
              </a>
              <a href="#" (click)="stopJob('1')">
                stop
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s1 cl-br-jobs-area-menu">
    <div class="cl-br-jobs-area-menu-button" style="margin-top: -20px ;">
      <input type="checkbox" href="#" class="cl-br-jobs-area-menu-button-open" name="menu-open" id="menu-open" />
      <label class="cl-br-jobs-area-menu-button-open-button" for="menu-open" (click)="checkClose()">
        <span class="hamburger hamburger-1"></span>
        <span class="hamburger hamburger-2"></span>
        <span class="hamburger hamburger-3"></span>
      </label>

      <a href="#" class="cl-br-jobs-area-menu-button-item" (click)="openOptionLeft()">
        <fa-icon [icon]="['fas', 'running']" size="2x"></fa-icon>
      </a>
      <a href="#" class="cl-br-jobs-area-menu-button-item" (click)="openDialog()">
        <fa-icon [icon]="['fas', 'tasks']" size="2x"></fa-icon>
      </a>
      <a href="#" class="cl-br-jobs-area-menu-button-item" (click)="openOptionRight()" >
        <fa-icon [icon]="['fas', 'check-circle']" size="2x"></fa-icon>
      </a>
    </div>

  </div>
  <div class="col s5 cl-br-jobs-area-history">
    <div class='cl-br-cards cl-br-cards-right' [ngClass]="showCardsRight ? 'cl-br-card-show' : ''">
      <div class='cl-br-card'>
        <div class='cl-br-card-face'>
          <div class='cl-br-card-label'>1</div>
        </div>
      </div>
      <div class='cl-br-card'>
        <div class='cl-br-card-face'>
          <div class='cl-br-card-label'>2</div>
        </div>
      </div>
      <div class='cl-br-card'>
        <div class='cl-br-card-face'>
          <div class='cl-br-card-label'>3</div>
        </div>
      </div>
      <div class='cl-br-card'>
        <div class='cl-br-card-face'>
          <div class='cl-br-card-label'>4</div>
        </div>
      </div>
      <div class='cl-br-card'>
        <div class='cl-br-card-face'>
          <div class='cl-br-card-label'>5</div>
        </div>
      </div>
      <div class='cl-br-card'>
        <div class='cl-br-card-face'>
          <div class='cl-br-card-label'>6</div>
        </div>
      </div>
      <div class='cl-br-card'>
        <div class='cl-br-card-face'>
          <div class='cl-br-card-label'>7</div>
        </div>
      </div>
      <div class='cl-br-card'>
        <div class='cl-br-card-face'>
          <div class='cl-br-card-label'>8</div>
        </div>
      </div>
      <div class='cl-br-card'>
        <div class='cl-br-card-face'>
          <div class='cl-br-card-label'>9</div>
        </div>
      </div>
      <div class='cl-br-card'>
        <div class='cl-br-card-face'>
          <div class='cl-br-card-label'>10</div>
        </div>
      </div>
    </div>
    <div class="cl-br-jobs-area-running-shadow"></div>
  </div>
</div>


