:host {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;

}
.row .col.offset-s-br {
  margin-left: 4%;
}
.cl-br-jobs-area {
  height: 100%;
}

.cl-br-jobs-area-running {
  flex-wrap: wrap;
  align-items: flex-end;
  height: 100%;
}
.cl-br-jobs-area-running-shadow {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: relative;
  top: 0;
  left: 0;
  pointer-events:none;
  background: rgb(255,64,129);
  background: radial-gradient(ellipse 70% 80% at 50% 100%, rgba(200,208,219,1) 0%, rgba(200,208,219,0) 75%) !important;
}

.cl-br-jobs-area-menu {
  height: 100%;
  background: radial-gradient(ellipse 70% 80% at 50% 100%, rgba(200,208,219,1) 0%, rgba(200,208,219,0) 75%) !important;
}

.cl-br-jobs-area-history {
  height: 100%;
  background: rgb(255,64,129);
  background: radial-gradient(ellipse 70% 80% at 50% 100%, rgba(200,208,219,1) 0%, rgba(200,208,219,0) 75%) !important;
}


