<!--<div class="cl-br-jobs-area">
  <div class="cl-br-jobs-area-running">
    dasdas
  </div>
  <div class="cl-br-jobs-area-menu">
    gafrsd
  </div>
  <div class="cl-br-jobs-area-history">
    \dasdas
  </div>
</div>-->

<div class="row cl-br-jobs-area">
  <div class="col s5 offset-s-br cl-br-jobs-area-running">
    <div class="cl-br-jobs-cards">
    </div>
  </div>
  <div class="col s1 cl-br-jobs-area-menu">

    <div class="cl-br-jobs-area-menu-button" style="margin-top: -20px ;">
      <input type="checkbox" href="#" class="cl-br-jobs-area-menu-button-open" name="menu-open" id="menu-open" />
      <label class="cl-br-jobs-area-menu-button-open-button" for="menu-open">
        <span class="hamburger hamburger-1"></span>
        <span class="hamburger hamburger-2"></span>
        <span class="hamburger hamburger-3"></span>
      </label>

      <a href="#" class="cl-br-jobs-area-menu-button-item"> <i class="fa fa-bar-chart"></i> </a>
      <a href="#" class="cl-br-jobs-area-menu-button-item"> <i class="fa fa-plus"></i> </a>
      <a href="#" class="cl-br-jobs-area-menu-button-item"> <i class="fa fa-heart"></i> </a>
      <!-- filters -->
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="shadowed-goo">

            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
            <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
            <feOffset in="shadow" dx="1" dy="1" result="shadow" />
            <feBlend in2="shadow" in="goo" result="goo" />
            <feBlend in2="goo" in="SourceGraphic" result="mix" />
          </filter>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feBlend in2="goo" in="SourceGraphic" result="mix" />
          </filter>
        </defs>
      </svg>
    </div>

  </div>
  <div class="col s5 cl-br-jobs-area-history">

  </div>
</div>


