.h-100 {
  height: 100%;
}

.cl-br-card-show .cl-br-card-borde {
  height:200px;
  visibility: visible;
  opacity: 1;
}
.cl-br-card-show .cl-br-card-content {
  width: 200px;
  visibility: visible;
  opacity: 1;
}

.cl-br-card-borde {
  width: 75px; height: 0px; margin-top: -147px; padding: 0;
  visibility: hidden;
  transition: width 1.5s, height 1.5s, visibility 0.5s, opacity 0.5s linear;
}
.cl-br-card-content {
  width: 0; height: 75px; background-color: #6d6d6d; transform-origin: left top;transform: translateY(200px) rotate(-90deg);
  visibility: hidden;
  transition: width 1.5s, height 1.5s, visibility 0.5s, opacity 0.5s linear;
}
