<!-- TODO agregar la opcion de poder modificar el titulo dependiendo del nombre o del tipo de operador que se tenga-->
<h1 mat-dialog-title>Execution results</h1>
<div mat-dialog-content>
  <ng-container *ngIf="data.content === undefined; then onlyIcon; else logosIcon">
  </ng-container>
  <ng-template #onlyIcon >
    <fa-icon [icon]="['fas', 'spinner']" size="6x" [spin]="true"></fa-icon>
    Processing
  </ng-template>
  <ng-template #logosIcon>
    <pre>{{data.content}}</pre>
  </ng-template>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onNoClick()">Close</button>
  <!--<button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>-->
</div>
