/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}
